@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Merriweather+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #EEEEEE;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 52px;
    background: #265629;
}

.cabecalho-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 52px;
    background: #265629;
}

.cabecalho-imagem {
    height: 150px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

nav > a {
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

nav > a:hover {
    background-color: #1f4715;
}

.cabecalho-menu-item {
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 24px;
    border-top: 0.4px solid black;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-lema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-lema-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;
    max-width: 400px;
}

.conteudo-principal-lema-texto {
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 20px;
    padding-bottom: 78px;
}

.conteudo-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-contato-diversos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-contato-diversos-titulo {
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 64px;
    padding-top: 24px;
    padding-bottom: 112px;
}

.conteudo-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-about-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-about-principal-titulo {
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 64px;
    padding-top: 24px;
    padding-bottom: 112px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contato-titulo {
    margin-bottom: 24px;
    border-top: 0.4px solid black;
	font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 78px;
}

.contato-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 78px;
}

.contato-infos-item {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
	font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.contato-infos-item > a {
    color: inherit
}

.conteudo-culturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 112px;
}

.conteudo-culturas-titulo {
    margin-bottom: 24px;
    border-top: 0.4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    padding-top: 48px;
}

.conteudo-titulo-culturas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    padding: 12px;
}

.conteudo-culturas-feijao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

.conteudo-culturas-feijao-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-culturas-feijao-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding: 18px;
}

.conteudo-culturas-feijao-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: black;
    font-size: 16px;
    width: 300px;
}

.conteudo-culturas-milho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo-culturas-milho-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-culturas-milho-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding: 18px;
}

.conteudo-culturas-milho-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: black;
    font-size: 16px;
    width: 300px;
}

.conteudo-culturas-soja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-culturas-soja-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-culturas-soja-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding: 18px;
}

.conteudo-culturas-soja-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: black;
    font-size: 16px;
    width: 300px;
}

.conteudo-culturas-algodao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-culturas-algodao-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-culturas-algodao-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding: 18px;
}

.conteudo-culturas-algodao-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: black;
    font-size: 16px;
    width: 300px;
}

.conteudo-mvv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-mvv-titulo {
    margin-bottom: 24px;
    border-top: 0.4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    padding-top: 48px;
}

.conteudo-mvv-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    padding: 12px;
    padding-bottom: 112px;
}

.conteudo-mvv-missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}

.conteudo-mvv-missao-imagem {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-mvv-missao-imagem-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding: 18px;
}

.conteudo-mvv-missao-imagem-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: black;
    font-size: 16px;
    width: 300px;
}

.conteudo-mvv-visao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo-mvv-visao-imagem {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-mvv-visao-imagem-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding: 18px;
}

.conteudo-mvv-visao-imagem-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: black;
    font-size: 16px;
    width: 300px;
}

.conteudo-mvv-valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-mvv-valores-imagem {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-mvv-missao-valores-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding: 18px;
}

.conteudo-mvv-missao-valores-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
    color: black;
    font-size: 16px;
    width: 300px;
}

.conteudo-quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-quem-somos-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 112px;
}

.conteudo-quem-somos-historia-titulo {
    margin-bottom: 24px;
    border-top: 0.4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    padding-top: 48px;
}

.conteudo-news {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-news-titulo {
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 64px;
    padding-top: 24px;
    padding-bottom: 112px;
}

.conteudo-news-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    padding-top: 48px;
    padding-bottom: 112px;
}


.conteudo-candidato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}

.conteudo-candidato-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-candidato-formulario-titulo {
    margin-bottom: 24px;
    border-top: 0.4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 28px;
    padding-top: 30px;
}

.conteudo-candidato-formulario-botao {
    background: #265629;
    width: 160px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.conteudo-candidato-formulario-botao:hover {
    background: #1f4715;
}

.rodape {
    margin-bottom: 24px;
    border-top: 0.4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 48px;
    background: #265629;
}

.rodape-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #bb3236;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;
}

.rodape-texto {
    font-family: 'Exo', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding-top: 24px;
}

@media(max-width: 1400px){
    .conteudo-mvv-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo-titulo-culturas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cabecalho{
        flex-direction: column;
        align-items: center;
    }

    .cabecalho-menu {
        gap: 10px; 
    }

    .rodape-titulo {
        flex-direction: column;
    }
}
